@model Its.Systems.HR.Interface.Web.ViewModels.ActivitySummaryViewModel

@{
    ViewBag.Title = "Översikt Aktivitet";
}

<h2>Visa sammanfattning för kurstillfälle</h2>
<h4>Välj först aktivitet, sedan ett kurstillfälle för aktiviteten.</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        
        <div class="well-lg">
            <div class="form-inline">
                <div class="form-group">
                    <label for="activityDropdown">Aktivitet</label>
                    @Html.DropDownListFor(n => n.Activities, Model.Activities, new { @class = "form-control wide-textbox", onchange = "javascript:getSessions(this.value);", id="activityDropdown" })
                </div>
                <div class="form-group">
                    <label for="sessionsDropdown">Kurstillfälle</label>
                    <select id="sessionsDropdown" name="sessionsDropdown" class="form-control wide-textbox" onchange="javascript: getPaticipants(this.value);"></select>
                </div>
            </div>

            @*<a href="@Url.Action("Index")" class="btn btn-danger">Återställ</a>*@
        </div>

        @*<P>Activitet</P>
        @Html.DropDownListFor(n => n.Activities, Model.Activities, new { @class = "form-control", onchange = "javascript:getSessions(this.value);" })

        <P>Kurstillfälle</P>
        <select id="sessionsDropdown" name="sessionsDropdown" class="form-control" onchange="javascript: getPaticipants(this.value);"></select>*@

    </div>

    <div class="row">
        <div id="participantsPartial">
        </div>

    </div>

}

@section scripts {

    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <script>

        function getSessions(_ActivityId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#sessionsDropdown").html(procemessage).show();
            var url = "/ActivitySummary/GetSessions/";

            $.ajax({
                url: url,
                data: { activityid: _ActivityId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Välj kurstillfälle</option>";
                    //var markup = "";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#sessionsDropdown").html(markup).show();
                    $("#participantsPartial").html(" ");

                },

                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

        function getPaticipants(_SessionId) {
            var url = "/ActivitySummary/GetParticipants/";

            $.ajax({
                url: url,
                data: { sessionId: _SessionId },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#participantsPartial").html(data);
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }


        $(document).ready(function () {

            var activityIdStart = $("#activityDropdown").val();
            getSessions(activityIdStart);



            $("body").on("click", ".js-save-sessionComment", function (e) {
                var link = $(e.target);
                var comments = $("#Comments").val();

                $.ajax({
                    url: "/ActivitySummary/SaveComments",
                    type: "POST",
                    data: { sessionId: link.attr("data-sessionId"), comments: comments },
                    success: function () {
                        link.after(' <span class="alert alert-success js-fadeOutThisMessage" role="alert">Kommentarer sparade!</span>');

                        $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                            $(this).remove();
                        });
                    },
                    error: function () {
                        alert("Anropet misslyckades, prova gärna igen.");
                    }
                });
            });

            $("body").on("click", ".js-save-sessionEvaluation", function (e) {
                    var link = $(e.target);
                    var evaluation = $("#Evaluation").val();

                    $.ajax({
                        url: "/ActivitySummary/SaveEvaluation",
                        type: "POST",
                        data: { sessionId: link.attr("data-sessionId"), evaluation: evaluation },
                        success: function () {
                            link.after(' <span class="alert alert-success js-fadeOutThisMessage" role="alert">Utvärdering sparade!</span>');

                            $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                                $(this).remove();
                            });
                        },
                        error: function () {
                            alert("Anropet misslyckades, prova gärna igen.");
                        }
                    });
            });

        });
    </script>
}
