@model Its.Systems.HR.Interface.Web.ViewModels.ActivitySummaryViewModel

@{
    ViewBag.Title = "Översikt Activitiet";
}

<h2>aktivitets samling.</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <P>Activitet</P>
        @Html.DropDownListFor(n => n.Activities, Model.Activities, new { @class = "form-control", onchange = "javascript:getSessions(this.value);" })

        <P>Kurstillfälle</P>
        <select id="sessionsDropdown" name="sessionsDropdown" class="form-control" onchange="javascript: getPaticipants(this.value);"></select>

    </div>

    <div class="row">
        <div id="participantsPartial">
            <h4>Listar deltagare osv:</h4>
        </div>

    </div>

}

        @section scripts {

            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
            <script>
                
                function getSessions(_ActivityId) {
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("#sessionsDropdown").html(procemessage).show();
                    var url = "/ActivitySummary/GetSessions/";

                    $.ajax({
                        url: url,
                        data: { activityid: _ActivityId },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var markup = "<option value='0'>Välja activitet</option>";
                            //var markup = "";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#sessionsDropdown").html(markup).show();
                            $("#participantsPartial").html(" ");

                        },

                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });

                }

                function getPaticipants(_SessionId) {
                 var url = "/ActivitySummary/GetParticipants/";

                    $.ajax({
                        url: url,
                        data: { sessionId: _SessionId },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            $("#participantsPartial").html(data);
                        },
                        error: function (reponse) {
                            alert("error : " + reponse);
                        }
                    });

                }

                //$(document).ready(function () {


                   





                    $(".js-save-sessionComment").click(function (e) {
                        var link = $(e.target);
                        var comments = $("#Comments").val();

                        $.ajax({
                            url: "/ActivitySummary/SaveComments",
                            type: "POST",
                            data: { sessionId: link.attr("data-sessionId"), comments: comments },
                            success: function () {
                                link.after(' <span class="alert alert-success js-fadeOutThisMessage" role="alert">Kommentarer sparade!</span>');

                                $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                                    $(this).remove();
                                });
                            },
                            error: function () {
                                alert("Anropet misslyckades, prova gärna igen.");
                            }
                        });
                    });

                    $(".js-save-sessionEvaluation").click(function (e) {
                        var link = $(e.target);
                        var evaluation = $("#Utvärdering").val();

                        $.ajax({
                            url: "/ActivitySummary/SaveEvaluation",
                            type: "POST",
                            data: { sessionId: link.attr("data-sessionId"), evaluation: evaluation },
                            success: function () {
                                link.after(' <span class="alert alert-success js-fadeOutThisMessage" role="alert">Utvärdering sparade!</span>');

                                $(".js-fadeOutThisMessage").fadeOut(2000, function () {
                                    $(this).remove();
                                });
                            },
                            error: function () {
                                alert("Anropet misslyckades, prova gärna igen.");
                            }
                        });
                    });

               // });
            </script>
        }
