
@*@{
    ViewBag.Title = "Översikt Aktivitet";
}

@*<h2>Visa sammanfattning för kurstillfälle</h2>
    <h4>Välj först aktivitet, sedan ett kurstillfälle för aktiviteten.</h4>
    <hr />*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="row">

           <div class="well-lg">
               <div class="form-inline">
                   <div class="form-group">
                       <label for="activityDropdown">Aktivitet</label><br />
                       @Html.DropDownListFor(n => n.Activities, Model.Activities, new { @class = "form-control wide-textbox", onchange = "javascript:getSessions(this.value);", id = "activityDropdown" })
                   </div>
                   <div class="form-group">
                       <label for="sessionsDropdown">Kurstillfälle</label><br />
                       <select id="sessionsDropdown" name="sessionsDropdown" class="form-control wide-textbox" onchange="javascript: getPaticipants(this.value);"></select>
                   </div>
               </div>


           </div>

        </div>*@

    <div class="row">
        <div id="participantsPartial">
        </div>

    </div>

}

