@model Its.Systems.HR.Interface.Web.ViewModels.ActivitySummaryViewModel

@{
    ViewBag.Title = "Details";
   
}

<h2>Details</h2>

<div>
    <h4>ActivitySummaryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    
    @Html.ActionLink("to deltagare page", "Index")
</p>
