@model List<Its.Systems.HR.Interface.Web.ViewModels.ActivitySummaryViewModel>

@{
    ViewBag.Title = "Översikt aktivitet";
}




@using (Html.BeginForm("Index", "ActivitySummary", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Hitta aktivitet" class="btn btn-default" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                
                @Html.ActionLink("radera", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

