<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>


      <!-- TODO: Trying to get a stable connection string -->
      <!--<add name="Webbsida" connectionString="Data Source=localhost\SQLEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Initial Catalog=Webbsida;" providerName="System.Data.SqlClient" />-->
  <connectionStrings>
    <add name="HRContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=HRContext;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    
  
  <!--<add name="HRContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-WebAppTest-20160919105147;Integrated Security=True"
    providerName="System.Data.SqlClient" />-->
    <!--<add name="HRContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HrAppDatabaseModelingTest-20160919105522.mdf;Initial Catalog=aspnet-HrAppDatabaseModelingTest-20160919105522;Integrated Security=True"
  providerName="System.Data.SqlClient" />-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
  <appSettings>
    <add key="UseEffort" value="true" />
  </appSettings>


</configuration>