@model Its.Systems.HR.Interface.Web.ViewModels.ActivityViewModel

@{
    ViewBag.Title = "Radera aktivitet";
}

<div>
    <h4>Vill du radera aktiviteten: "@Model.Name" ?</h4>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-danger" />
            <a href="@Url.Action("Index")" class="btn btn-success">Avbryt</a>
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>

