@model Its.Systems.HR.Interface.Web.ViewModels.CreateActivityViewModel

@{
    ViewBag.Title = "Detaljer";
}

<h2>detaljer</h2>

<div>
    <h4>Aktivitet</h4>
    <hr />
    
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        
           Html.DisplayFor(modelItem => model.Name)
                     
                
           
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


