@model IEnumerable<Its.Systems.HR.Domain.Model.Participant>

@{
    ViewBag.Title = "Lista personal";
}

<h2>Listar personal (ej HR!?)</h2>

<table class="table">
    <tr>
        <th>
            Namn
        </th>
        <th>
            <span>Ev. något annat</span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FullName, "Details", new { id = item.Id })
        </td>
        <td>
        </td>
    </tr>
}

</table>
