@model IEnumerable<Its.Systems.HR.Domain.Model.Participant>

@{
    ViewBag.Title = "Lista personal";
}

<h2>Listar personal <span class="label label-info">DEBUG</span></h2>

<table id="listParticipantsTable" class="tablesorter table table-hover">
    <thead>
    <tr>
        <th>
            Namn
        </th>
        <th>
            <span>CasId</span>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Details", new {id = item.Id})
            </td>
            <td>
                @item.CasId
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HrHelpers.js"></script>
    <script src="~/Scripts/App/ParticipantIndex.js"></script>
}