@model Its.Systems.HR.Interface.Web.ViewModels.IndexParticipantViewModel

@{
    ViewBag.Title = "Lista personal";
}

<h2>Listar personal</h2>

<table id="listParticipantsTable" class="tablesorter table table-hover">
    <thead>
    <tr>
        <th>
            Namn
        </th>
        <th>
            Tillfällen
        </th>
        <th>
            CasID
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Participants)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FullName, "Details", new {id = item.ParticipantId})
            </td>
            <td>
                @item.CountOfSessions
            </td>
            <td>
                @item.CasID
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/App/HRHelpers.js"></script>
    <script src="~/Scripts/App/ParticipantIndex.js"></script>
}