@model Its.Systems.HR.Interface.Web.ViewModels.SessionSummaryStatisticsViewModel
@{
    ViewBag.Title = "SessionSummaryStatistics";

}


@using (Html.BeginForm("Details", "SessionSummaryStatistics", FormMethod.Post))
{
    <div class="form-group">
        <label for="Year">År</label><br />
        @Html.DropDownList("yearslist", new SelectList(Enumerable.Range(2010, 140).ToList()), "-- Select Year --", new { name = "yearslist" })

        <button type="submit" class="btn btn-default">Filtrera!</button>
    </div>


}
       @* <p>Aktiviteter @Html.DropDownList.v </p>*@

        @foreach (var item in Model.SessionStatisticsRows)
        {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Session.Name), @Html.DisplayFor(modelItem => item.NumberOfParticipants) Deltagare</p>
                    
                </td>

              
            </tr>
        }
