@model IQueryable<Its.Systems.HR.Interface.Web.ViewModels.SessionSummaryStatisticsViewModel>
@{
    ViewBag.Title = "SessionSummaryStatistics";

}

<div class="row">

    @*<div class="form-group">
        <label for="Year">År</label><br />
        @Html.DropDownListFor(n => n.Years, Model.Years,)
    </div>
    <div>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                
            </tr>
        }

    </div>*@

</div>
