body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* jQuery UI styles */

.ui-helper-hidden-accessible {
    display: none;
}

/*.ui-widget-content {
    background-color: white;
    color: #484848;
    width: 150px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #66AFE9 1px solid;
}

    .ui-widget-content li {
        list-style: none;
        padding: 3px;
    }

        .ui-widget-content li:hover {
            color: white;
            background-color: #00a0e6;
            list-style: none;
            cursor: default;
        }


    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        cursor: default;
        background-color: red;
        color: blue;
    }*/

/* TABLE SORTER */

table.tablesorter thead tr .header {
    background-image: url(tablesorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(tablesorter/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(tablesorter/desc.gif);
}

/* CUSTOM Utils */

.m-t-50 {
    margin-top: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.increase-glyphicon-size {
    font-size: 2em;
}

/* BOOTSTRAP OVERRIDES */

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.form-control {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.btn {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.navbar-inverse {
    background-color: #444;
    border-color: #444;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 18px;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-color: #00a0e6;
        }

    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 20px;
    }

    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: white;
        border-bottom-color: white;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #00a0e6;
    }

.navbar-text {
    margin-bottom: 0;
}

ul.dropdown-menu {
    background-color: #00a0e6;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}

    ul.dropdown-menu > li > a {
        padding: 10px 20px;
        color: white;
        font-size: 16px;
        line-height: 1;
    }

        ul.dropdown-menu > li > a:hover {
            /*padding: 3px 20px;*/
            background-color: #444;
            color: white;
        }

    ul.dropdown-menu .divider {
        margin: 0;
        background-color: #51b8e5;
    }

.navbar-nav > li > .dropdown-menu {
    margin: 0;
    padding: 0;
    border: 0;
}

/* BOOTSTRAP NAVBAR MEDIA-QUERY OVERRIDE TODO: DOESNT REALLY WORK AS INTENDED */
/*@media (max-width: 1080px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}*/

/* CUSTOM ADDED */

#casid-link {
    color: #bcbcbc;
}

#casid-link:hover {
    color: #00a0e6;
    background-color: #444;
}

.listedParticipantLink {
    text-decoration: underline;
    cursor: pointer;
}

.listedParticipantRemove {
    margin-left: 10px;
    cursor: pointer;
}

.js-remove-tag-create-session, .js-remove-tag-edit-session {
    margin-right: 10px;
}

    .js-remove-tag-create-session:hover, .js-remove-tag-edit-session:hover {
        cursor: pointer;
        background-color: red;
    }

.tr-grey-bg {
    background-color: #f5f5f5;
}

#selectedTags .glyphicon-remove {
    margin-left: 5px;
}

footer {
    /*background-color: #333;
    background: linear-gradient(#333, #666);
    color: white;*/
    padding-top: 50px;
    /*width: 100%;
    margin-top: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;*/
}

textarea.commentsWishes {
    max-width: 450px;
}

.wide-textbox {
    max-width: 450px;
}

.input-group {
    max-width: 280px;
}

/*.h3 {
    font-family: "Cantarell";
    font-size: 16px;
    font-weight: 400;
    width: 650px;
    top: 20%;
    text-align: justify;
}*/
