body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* jQuery UI styles */

.ui-helper-hidden-accessible {
    display: none;
}

.ui-widget-content {
    background-color: white;
    color: #484848;
    width: 150px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #66AFE9 1px solid;
}

    .ui-widget-content li {
        list-style: none;
        padding: 3px;
    }

        .ui-widget-content li:hover {
            color: white;
            background-color: #00a0e6;
            list-style: none;
            cursor: pointer;
        }

/* CUSTOM Utils */

.m-t-50 {
    margin-top: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

/* BOOTSTRAP OVERRIDES */

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.form-control {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.btn {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.navbar-inverse {
    background-color: #444;
    border-color: #444;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 18px;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-color: #00a0e6;
        }

    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 20px;
    }

    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: white;
        border-bottom-color: white;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #00a0e6;
    }


ul.dropdown-menu {
    background-color: #00a0e6;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}

    ul.dropdown-menu > li > a {
        padding: 10px 20px;
        color: white;
        font-size: 16px;
        line-height: 1;
    }

        ul.dropdown-menu > li > a:hover {
            /*padding: 3px 20px;*/
            background-color: #444;
            color: white;
        }

    ul.dropdown-menu .divider {
        margin: 0;
        background-color: #51b8e5;
    }

.navbar-nav > li > .dropdown-menu {
    margin: 0;
    padding: 0;
    border: 0;
}

/* CUSTOM ADDED */

.listedParticipantLink {
    text-decoration: underline;
    cursor: pointer;
}

.listedParticipantRemove {
    cursor: pointer;
}

.js-remove-tag, .js-remove-tag-from-edit {
    margin-right: 10px;
}

.js-remove-tag:hover, .js-remove-tag-from-edit:hover {
    cursor: pointer;
    background-color: red;
}

/*#selectedTags {
    width: 100px;
    max-width: 100px;
}*/

footer {
    /*background-color: #333;
    background: linear-gradient(#333, #666);
    color: white;*/
    padding-top: 50px;
    /*width: 100%;
    margin-top: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;*/
}

/*.js-fadeOutThisMessage {
    display: 
}*/

textarea.commentsWishes {
    max-width: 450px;
}

.wide-textbox {
    max-width: 450px;
}

.input-group {
    max-width: 280px;
}
